.body-section {
  background-color: #fcc736;
  width: 100%;
  height: 700px;
  position: relative;
  top: 1210px;
}
#body-text {
  font-size: 70px;
  margin-bottom: 15px;
  font-weight: 800;
  color: #111d5e;
  position: relative;
  top: 90px;
  left: 200px;
}

#body-para {
  font-size: 14px;
  color: #555;
  position: relative;
  top: 100px;
  font-size: 15px;
  left: 200px;
}
.text-area {
  width: 50%;
}
#h1 {
  color: #111d5e;
  position: relative;
  top: 130px;
  left: 200px;
  font-size: 55px;
}
#Experience {
  font-size: 20px;
  color: #555;
  position: relative;
  top: 140px;
  left: 200px;
}
.student-section {
  background-color: #20364b;
  width: 100%;
  height: 750px;
  position: relative;
  top: 1200px;
}
#image-one {
  height: 590px;
  width: 1000px;

  position: relative;
  left: 40px;
  top: 60px;
}
#image-one img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
.image-two {
  height: 590px;
  width: 1000px;
  border-radius: 10px;
  position: relative;
  left: 1090px;
  bottom: 530px;
  border-radius: 10px;
}
.image-two img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
.notice {
  display: flex;
  height: 700px;
  justify-content: space-evenly;
  background-color: #ffffff;
  position: relative;
  top: 1250px;
}
.notice-item {
  height: 450px;
  width: 80%;
  background-color: #bbbbbb;
  margin: 20px;
  position: relative;
  top: 160px;
}
.student-work {
  display: flex;
  height: 450px;
  justify-content: space-evenly;

  position: relative;
  top: 1350px;
}
.notice img {
  height: 100%;
  width: 100%;
}
.item {
  height: 430px;
  width: 80%;

  margin: 20px;
  position: relative;
  top: 40px;
}
.item img {
  width: 100%;
  height: 100%;
  cursor: pointer;
  user-select: none;
}
.item h5 {
  justify-content: center;
  text-align: center;
  margin-top: 15px;
}

.events {
  width: 70%;
  height: 500px;

  position: relative;
  top: 1550px;
  left: 250px;
}
#zoom {

  /* (B) ANIMATE ZOOM */
  /* ease | ease-in | ease-out | linear */
  transition: transform ease-in-out 0.3s;
}
 
/* (C) ZOOM ON HOVER */
#zoom:hover { transform: scale(1.2);

    -webkit-filter: blur(4px); /* Chrome, Safari, Opera */
    filter: blur(4px);
} 
.praogram img {
  height: 100%;
  width: 100%;
  border-radius: 20px;
  user-select: none;
  cursor: pointer;
}
.about {
  width: 100%;
  height: 700px;
  background-color: #20364b;
  position: relative;
  top: 2050px;
}

.end-line {
  width: 100%;
  height: 120px;
  color: #20364b;
  background-color: #fcc736;
  position: relative;
  top: 2050px;
}

.text {
  display: flex;
  justify-content: space-around;
}

.text p {
  margin-top: 24px;
}

.end-logosection {
  position: relative;
  top: 20px;
  left: 160px;
}

.end-logosection img {
  height: 13%;
  width: 13%;
}

.address {
  height: 200px;
  width: 13%;
  color: #fff;
  cursor: pointer;
  position: relative;
  top: 50px;
  left: 170px;
  user-select: none;
}

span {
  color: #fff;
  display: block;
  margin: 9px;
  position: relative;
  left: 160px;
  bottom: 80px;
  cursor: pointer;
  user-select: none;
}

#map {
  height: 200px;
  width: 19%;
  position: relative;
  left: 160px;
  bottom: 300px;
}

#youtube {
  height: 500px;
  width: 50%;
  position: relative;
  left: 500px;
  bottom: 250px;
}
.end-line {
  position: relative;
}

@media screen and (max-width: 895px) {
  .text-area {
    position: relative;

    right: 150px;
  }
  #body-text {
    font-size: 40px;
  }
  #body-para {
    font-size: 14px;
  }
  .advantage {
    position: relative;
    bottom: 35px;
    right: 150px;
  }
  .body-section {
    background-color: #fcc736;

    position: relative;
    top: 340px;
  }
  .notice {
    display: block;
    height: 1200px;
    position: relative;
    left: 20px;
    margin-top: 20px;
    background-color: white;
  }
  .notice img {
    border-radius: 10px;
  }
  .student-work {
    display: block;
    position: relative;
    left: 30px;
  }
  .student-work img {
    border-radius: 10px;
  }
  .events img {
    height: 300px;
    width: 500px;
    position: relative;
    top: 800px;
    right: 250px;
  }
}
